<!-- {{ product | json }} -->
<div id = "Box" *ngIf="product">
    <h2>Edit Product</h2>
    <hr/>
    <div class = "tableBox">
        <table>
            <tr>
                <td>
                    <h3>Name: </h3>
                </td>
                <td>
                    <h3>
                        <input type="text" value="{{ product.name }}" name="product.name" [(ngModel)] = "product.name">
                    </h3>
                </td>
                <td>
                    <div *ngIf="product.errors">
                        <h4 *ngIf="product.errors.name" class="errorz">
                            * {{ product.errors.name.message }}
                        </h4>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Qty: </h3>
                </td>
                <td>
                    <h3>
                        <input type="text" value="{{ product.quantity }}" name="product.quantity" [(ngModel)] = "product.quantity">
                    </h3>
                </td>
                <td>
                    <div *ngIf="product.errors">
                        <h4 *ngIf="product.errors.quantity" class="errorz">
                            * {{ product.errors.quantity.message }}
                        </h4>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Price: </h3>
                </td>
                <td>
                    <h3>
                        <input type="text" value="{{ product.price }}" name="product.price" [(ngModel)] = "product.price">
                    </h3>
                </td>
                <td *ngIf="product.errors">
                    <!-- <div *ngIf="product.errors"> -->
                        <h4 *ngIf="product.errors.price" class="errorz">
                            * {{ product.errors.price.message }}
                        </h4>
                    <!-- </div> -->
                </td>
            </tr>
        </table>
        <table class = "entry">
            <tr>
                <td>
                    <form (submit)="update()" class = "buttonz">
                        <input type="submit" value="Update">
                    </form>
                </td>
                <td>
                    <form (submit)="reset()">
                        <input type="submit" value="Reset">
                    </form>
                </td>
                <td>
                    <button routerLink="/products">Back</button>
                </td>
            </tr>
        </table>
    </div>

</div>