* {
    margin: 0px;
    padding: 0px;
}
h3, h2 {
    font-weight: bold;
}
.tableBox{
    width: 40%;
    min-height: 10px;
    padding-top: 10px;
    /*border: 1px solid black;*/
}
table{
    width:100%;
}
table button, table input{
    width:100%;
}
.entry{
    width:40%;
    margin-top: 5px;
}