<!-- {{ product | json }} -->
<div id = "Box">
    <h2>New Product</h2>
    <hr/>
    <div class = "tableBox">
        <table>
            <tr>
                <td>
                    <h3>Name: </h3>
                </td>
                <td>
                    <h3>
                        <input type="text" name="product.name" [(ngModel)] = "product.name">
                    </h3>
                </td>
                <td>
                    <h4 *ngIf="product.errors.name" class="errorz">
                        * {{ product.errors.name.message }}
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Qty: </h3>
                </td>
                <td>
                    <h3>
                        <input type="text" name="product.quantity" [(ngModel)] = "product.quantity">
                    </h3>
                </td>
                <td>
                    <h4 *ngIf="product.errors.quantity">
                        * {{ product.errors.quantity.message }}
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Price: </h3>
                </td>
                <td>
                    <h3>
                        <input type="text" name="product.price" [(ngModel)] = "product.price">
                    </h3>
                </td>
                <td>
                    <h4 *ngIf="product.errors.price">
                        * {{ product.errors.price.message }}
                    </h4>
                </td>
            </tr>
        </table>
        <table class = "entry">
            <tr>
                <td>
                    <form (submit)="create()">
                        <input type="submit" value="Create Product">
                    </form> 
                </td>
                <td>
                    <form (submit)="reset()">
                        <input type="submit" value="Reset">
                    </form>
                </td>
                <td>
                    <button routerLink="/products">Back</button>
                </td>
            </tr>
        </table>
    </div>
</div>