<!-- {{ allProducts | json }} -->
<div id = "Box">
    <div id = "title">
        <h2>Product List:</h2>
        <button class="newButton" routerLink="/products/create">
            Add New Product
        </button>
    </div>
    <table>
        <tr>
            <th>
                <h3>ID</h3>
            </th>
            <th>
                <h3>Name</h3>
            </th>
            <th>
                <h3>Qty</h3>
            </th>
            <th>
                <h3>Price</h3>
            </th>
            <th>
                <h3>Action</h3>
            </th>
        </tr>
        <tr *ngFor="let prod of allProducts">
            <td>
                <h4>{{ prod._id }}</h4>
            </td>
            <td>
                <h4>{{ prod.name }}</h4>
            </td>
            <td>
                <h4>{{ prod.quantity }}</h4>
            </td>
            <td>
                <h4>${{ prod.price }}</h4>
            </td>
            <td class = "extraPadding">
                <div class = "buttonz">
                    <button class = "NavButtons" routerLink="/products/edit/{{ prod._id }}">
                        Edit
                    </button>
                    <button class = "NavButtons" routerLink="/products/info/{{ prod._id }}">
                        Details
                    </button>
                </div>
            </td>
        </tr>
    </table>

</div>
