* {
    margin: 0px;
    padding: 0px;
}
#title {
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.newButton{
    padding: 10px;
}
table{
    border: 1px solid black;
    width: 100%;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
}
th, td {
    padding-left: 10px;
}
h3, h2 {
    font-weight: bold;
}
.extraPadding{
    padding-right: 10px;
}
.buttonz{
    display: flex;
    justify-content: space-between;
}
.NavButtons {
    display: inline-block;
    width: 45%;
    height: 20px;
    /*margin-top:5px;*/
    /*margin-bottom:5px;*/
}
